.todo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px;
  border-bottom: 1px solid rgb(53, 51, 51);
  padding: 10px 0;
}
.todo-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.todo-container > .checkbox {
  width: auto;
  align-self: auto;
}
.todo-container > .text {
  list-style: none;
  width: 90%;
  border: none;
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 10px;
  font-family: "KoHo", sans-serif;
  font-weight: bold;
  background-color: transparent;
  height: 30px;
}
.todo-container > .text:focus {
  outline: 0 0 1px 0 solid black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.todo-container > button {
  width: 10%;
  border-radius: 10px;
  border: none;
  height: auto;
  cursor: pointer;
  padding: 3px;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  font-family: "KoHo", sans-serif;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
}
.todo-container > button:hover {
  transform: scale(1.05);
}
